SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.com
CSRF_TRUSTED_ORIGINS=https://yourdomain.com
DBNAME=postgres
DBUSER=admin
DBPASS=your-db-password
DBHOST=postgres
DBPORT=5432
MEDIA_ROOT=/media
EMAIL_HOST_USER=yourapp@gmail.com
EMAIL_HOST_PASSWORD=your-gmail-app-password
DEFAULT_FROM_EMAIL=Capital Music Network <yourapp@gmail.com>
NAVIDROME_BASE_URL=https://music.example.org
NAVIDROME_ADMIN_USER=admin
NAVIDROME_ADMIN_PASS=your-navidrome-admin-password
