{% extends "base.html" %}

{% block title %}Capital Music Network{% endblock %}

{% block content %}
<div class="page">
  <h1>Capital Music Network Upload Portal</h1>
  <p>Music uploaded here will appear in the CMN streaming service. Use this
    website to add new music, edit track titles, and update your artist bio.
  </p>

  <hr>

  {% if user.is_authenticated %}
    <p><a href="{% url 'dashboard' %}">go to dashboard</a></p>
  {% else %}
    <p>
      <a href="{% url 'invite-request' %}">request an invite</a>
      &nbsp;&middot;&nbsp;
      <a href="{% url 'account_login' %}">log in</a>
    </p>
  {% endif %}

  <hr>

</div>
{% endblock %}
